<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Genomic Interactions Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="logo">
            <i class="fas fa-dna"></i>
            GeneInteract
        </a>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_page') }}">Search</a>
            <a href="{{ url_for('visualizations') }}">Visualizations</a>
            <a href="{{ url_for('guide') }}">Help</a>
            <a href="{{ url_for('faq') }}">FAQ</a>
            <a href="{{ url_for('github') }}">GitHub</a>
        </div>
    </nav>

    <div class="container">
        <section class="card">
            <div class="hero">
                <h1>GitHub Page</h1>
                <p>If you have any questions, feel free to reach out to us! You can also visit our GitHub page for more information:</p>
            </div>

            <div class="form-section">
                <h3 class="form-section-title">Our GitHub Repository</h3>
                <p>Visit our GitHub repository for updates, contributions, and more:</p>
                <p><a href="https://github.com/Nathan2400912/AD_Database" target="_blank">GeneInteract GitHub Repository</a></p>
            </div>

        </section>
    </div>
</body>
</html>
